* {
	font-family: 'Roboto', sans-serif;
	margin: 0.25em;
}
html {
	margin: 0;
}

body {
	margin: 0;
}

.index {
	background-color: #233d4d;
	width: calc(100% - 2em);
	height: calc(100vh - 1em);
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 25px;
	row-gap: 15px;
	grid-template-rows: repeat(3,auto);
	align-content: space-evenly;
	justify-items: center;
	padding: 0.5em 1em;
}

h1 {
	text-align: center;
	grid-column: span 3;
	grid-row: 1;
	color: #fe7f2d;
	font-size: 3em;
	margin: 0;
}

.cart {
	grid-column: span 3;
	grid-row: 2;
	background-color:#a1c181;
	width: fit-content;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(6, auto);
	column-gap: 1em;
	padding: 1em;
	align-items: center;

}

.cart h2 {
	grid-row: 1;
	grid-column: span 6;
}

.inc {
	grid-column: 2 / 3;
}
.num {
	grid-column: 3 / 4;
}
.decrs {
	grid-column: 4 / 5;
}

.size {
	grid-column: 1 / 2;
}

.cart h3 {
	grid-column: 6 / 7;
	grid-row: 2 / 3;
}

.checkout {
	grid-column: 6 / 7;
	grid-row: 3 / 5;
}

.product {
	background-color: #619b8a;
	grid-row: 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
	text-transform: capitalize;
}

.large {
	width: 45%;
}

.medium {
	width: 30%;
}

.small {
	width: 20%;
}

input {
	padding: 0.5em 1em;
	margin: 1em;
	font-size: 1.3em;
	background-color: #fcca46;
}

p {
	font-size: 1.3em;
	margin-left: 1em;
	margin-right: 1em;
}

.qty {
	border: none;
	border-radius: 100%;
	width: 1.25em;
	height: 1.25em;
	margin: 0;
	padding: 0;
}

h4 {
	text-transform: capitalize;
	font-size: 1.5em;
	line-height: 0.5;
}


.orders {
	background-color: #619b8a;
	width: calc(100% - 4em);
	height: calc(100vh - 4em);
	margin: 0;
	display: grid;
	grid-template-columns: auto;
	column-gap: 25px;
	row-gap: 15px;
	grid-template-rows: repeat(2,auto);
	align-content: start;
	justify-items: center;
	padding: 2em;
}

.orders h1 {
	grid-row: 1;
	grid-column: 1;
}

.orders form {
	background-color: #fcca46;
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	justify-items: center;
	padding: 1em;
	row-gap: 1em;
	column-gap: 1em;
}

.orders h4 {
	color: #233d4d;
}

.orders input {
	background-color: #a1c181;
	margin: 0;
}

.orders .id {
	color: black;
	grid-column: 1;
}
.orders .cost {
	color: black;
	grid-column: 2;
}
.orders .status {
	color: black;
	grid-column: 3;
}
.orders .action {
	color: black;
	grid-column: 4;
}